<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.user_house_like.mapper.UserHouseLikeMapper">

	  	<!-- Facility 개괄정보 -->
	  	<resultMap type="UserHouseLikeDto" id="UserHouseLikeDto">
			<result column="user_id" property="userId"/>
			<result column="apt_id" property="aptId"/>
		</resultMap>
		
		
	  <!--  유저가 해당 아파트에 대해 찜하는 기능 -->
		<select id="addLike" parameterType="Map" resultMap="UserHouseLikeDto">
		  INSERT INTO
		  		user_house_like (user_id, apt_id)
		  value
		  		(#{userId}, #{aptId});
		</select>
	  
	  <!-- 해당 유저가 특정 아파트 찜을 취소하는 기능 -->
	  <delete id="deleteLike" parameterType="map">
	    DELETE FROM user_house_like
	    WHERE user_id = #{userId} AND apt_id = #{aptId}
	  </delete>
	  
	  <select id="isLike" parameterType="Map">
		  SELECT count(*)
		  FROM user_house_like
		  WHERE user_id = #{userId} and apt_id = #{aptId}
	  </select>
	
</mapper>	